{% block body %}
        <section class="news-section" id="news-section">
            <div class="container-news">
                <h2 class="section-title">Mes dernières actualités</h2>
                <div class="news-grid">
                    {% for article in articles|slice(0, 3) %}
                        <article class="news-card">
                            <div class="news-image">
                                <img src="{{ article.imageUrl }}" alt="{{ article.title }}">
                            </div>
                            <div class="news-content">
                                <span class="news-date">{{ article.createdAt|date('d F Y') }}</span>
                                <h3>{{ article.title }}</h3>
                                <p>{{ article.content|striptags|slice(0, 150) }}...</p>
                                <a href="{{ path('app_news_show', {'slug': article.slug}) }}" class="read-more">Lire la suite <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </article>
                    {% else %}
                        <p>Aucun article disponible.</p>
                    {% endfor %}
                </div>
                <div class="see-all-news">
                    <div class="dropdown-news">
                        <button class="btn btn-outlined dropdown-toggle" data-turbo="false">Voir les actualités</button>
                        <div class="dropdown-menu">
                            <a href="{{ path('app_news_category', {category: 'circonscription'}) }}" class="dropdown-item">Dans le Haut-Rhin</a>
                            <a href="{{ path('app_news_category', {category: 'assemblee'}) }}" class="dropdown-item">À l'Assemblée Nationale</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}